.boxx{
     color: rgb(89, 255, 255);
     
}

.PRUS{
     color: rgb(48, 41, 88);
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contoh{
     color: rgb(48, 41, 88);
     text-decoration: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.kartu{
     text-decoration: none;
     color: white;
}